<div class="collapse" id="editForm-<%= comment.id %>">
  <div class="form-outline w-100 mt-3">
    <%= form_with model: comment,
                  method: :put,
                  url: course_post_comment_path(:id=>comment.id, :post_id=>@post_id) do |comment_form|%>
      <div class="form-outline mb-4">
        <%= comment_form.text_area :text_body, :class => "form-control", :rows=>"4", :id=>"form4Example3"  %>
        <label class="form-label" for="form4Example3">Message</label>
      </div>
      <button type="submit" id="replySubmit" class="btn btn-primary btn-block mb-4">Save</button>
    <% end %>
  </div>
</div>