<div class="container" id="replyForm">
  <br>
  <%= form_for [@post, Comment.new], url: course_post_comments_path(@course_id, @post_id), method: :post, local: true do |comment_form|%>
    <div class="form-outline mb-4">
      <%= comment_form.text_area :text_body, :class => "form-control", :rows=>"4", :id=>"form4Example3"  %>
      <label class="form-label" for="form4Example3">Message</label>
    </div>
    <button type="submit" id="replySubmit" class="btn btn-primary btn-block mb-4">Reply</button>
  <% end %>
</div>