<h3>Courses</h3>
<div class="cards">
   <% @courses.each do |course| %>
      <%= render "layouts/card", card_title: course.title, card_text: course.description, card_link: course_posts_path(course.id)%>
   <% end %>
</div>
