<%= stylesheet_link_tag "courses", "data-turbo-track": "reload" %>
<div class="container-fluid">
  <br>
  <div class="row">
    <h1 class="display-6 text-center">
      All Courses
    </h1>
  </div>

  <div class="main-content">
    <%= render "_palette",
               color:"maroon",
               class_code:"all",
               views: @num_views,
               posts:@num_posts,
               comments:@num_comments,
               c_link: posts_path,
               class_name: "All posts",
               class_desc: "View all the posts on our site" %>
  </div>

  <div class="main-content">
    <% @color = 0 %>
    <% @colors = %w[green yellow blue black red] %>
    <% @courses.each do |c| %>

      <div class="palette__wrapper">
        <%= render "_palette",
                   color:@colors[@color],
                   class_code:c.generate_full_code,
                   views: c.posts.sum(:view),
                   posts:c.posts.count,
                   comments: c.comments.count,
                   c_link: course_posts_path(c.id),
                   class_name: c.title,
                   class_desc: c.description %>
      </div>

      <% if@color == @colors.length %>
        <% @color = 0 %>
      <% else %>
        <% @color += 1 %>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'courses', :cache => true %>