<% @num_likes = local_assigns[:ratings].sum(:up) %>
<% @num_dislikes = local_assigns[:ratings].sum(:down) %>

<% @comment_rating = rating_for(local_assigns[:rateable],current_user)%>

<a role="button"
   class="<%= @comment_rating == 'like' ? 'link-success':'link-muted' %> like mx-3">
  <i class="fa-2x fas fa-thumbs-up me-1"></i> <%= @num_likes %>
</a>
<a role="button"
   class="<%= @comment_rating == 'dislike' ? 'link-danger':'link-muted' %> dislike mx-3">
  <i class="fa-2x fas fa-thumbs-down me-1"></i> <%= @num_dislikes %>
</a>