<%= stylesheet_link_tag "posts", "data-turbo-track": "reload" %>
<div class="container-fluid bg-dark text-dark">
  <div class="row">
    <div class="col-md-12" id="posts-index-header">
      <div class="text-center text-light">
        <h1> Posts for <%= @course.title %> </h1>
      </div>
    </div>
  </div>
  <br>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" id="question-btn-container">
    <a class="btn btn-primary me-md-2" type="button" href="<%= new_course_post_path(@id) %>" >
      <i class="bi bi-pencil-square">
        Ask a question
      </i>
    </a>
  </div>
  <br>
  <div class="container">
    <% if @posts.count > 0 %>
      <%= render @posts %>
    <% else %>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center text-danger">
                <em>
                  No posts yet. Be the first one to post for this course
                </em>
              </h5>
            </div>
          </div>
        </div>
      </div>
    <%end %>
  </div>
</div>