<div class="card-header bg-secondary bg-gradient">
  <div class="container-fluid">
    <div class="comment-header">
      <span class="comment-pfp">
              <img
                src="https://avatars.dicebear.com/api/bottts/<%= local_assigns[:uname] %>.svg"
                class="rounded-circle comment-pic"
                height="35"
                alt="Robot"
                loading="lazy"
                />
      </span>
      <span class="comment-uname badge badge-dark bg-gradient">
            <a href="javascript:void(0)" class="text-info h6">
              <strong>Username</strong>
            </a>
      </span>
    </div>
  </div>
</div>