<% unless local_assigns[:params].all?(&:nil?) %>
  <div class="mx-2">
    <a href="<%=  local_assigns[:path]  %>" class="btn btn-outline-danger">Clear Filters
      <i class="fa-solid fa-circle-xmark ms-2"></i>
    </a>
  </div>
<%  end %>